<nav class="navbar">
  <button class="btn-idioma" (click)="idiomaService.cambiarIdioma()">
    {{ idiomaService.idioma() === 'es' ? '🇬🇧 EN' : '🇪🇸 ES' }}
  </button>
  <div class="nav-links">
    <a (click)="scrollTo('sobre-mi')">{{ idiomaService.t.nav.sobreMi }}</a>
    <a (click)="scrollTo('habilidades')">{{ idiomaService.t.nav.habilidades }}</a>
    <a (click)="scrollTo('experiencia')">{{ idiomaService.t.nav.experiencia }}</a>
    <a (click)="scrollTo('proyectos')">{{ idiomaService.t.nav.proyectos }}</a>
    <a (click)="scrollTo('contacto')">{{ idiomaService.t.nav.contacto }}</a>
  </div>
</nav>